html, body {
    height: 100%;
    padding: 0%;
    margin: 0;
    color:#2c2c2c
    }
#map {
    /* configure the size of the map */
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 0.3s;
  }

a {
    text-decoration: none;
}

::-webkit-scrollbar-thumb {
    background: #294c69;
  }

.TitleBar {
    height: 5vw;
    width: 40vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    position: fixed;
    left: 29vw;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.3s;
    background-color: #3f77a5;
    box-shadow: 0 0 5px #2c2c2c;
    user-select: none;
}

.TitleBar .TitleBarText {
    float: right;
    font-size: 2.7vw;
    font-family: 'Montserrat', sans-serif;
    padding: 0.9vw;
    padding-right: 1.6vw;
    padding-left: 0;
    color: #e2e2e2;
}

.TitleBar .TitleBarImage {
    max-height: 3.9vw;
    width: auto; 
    padding: 0.55vw; 
    padding-left: 1.5vw;
}


.key {
    width: 170px;
    height: 395px;
    position: fixed;
    min-width: 170px;
    min-height: 200px;
    background-color: #3f77a5;
    color: #ececec;
    z-index: 1;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #2c2c2c;
    user-select: none;
}

.key .keyTitle {
    padding: 0.3vw;
    font-size: 1.5vw;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-align:  center;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

.key .Icons {
    padding: 10px;
    padding-top: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.key .Icons .IconImages {
    width: auto;
    height: 30px;
    padding: 10px;
    vertical-align: middle;
}

.key .credits {
    padding: 10px;
    padding-top: 0px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

/*schedule box*/
.schedule {
    width: 60px;
    height: 170px;
    position: fixed;
    background-color: #3f77a5;
    color: #ececec;
    font-family: "Raleway", sans-serif;
    z-index: 1;
    left: 20px;
    bottom: 435px;
    border-radius: 10px;
    box-shadow: 0 0 10px #2c2c2c;
    transition: 0.3s;
    user-select: none;
}

#schedule:hover {
    background-color: #284b68;
}

#scheduleOpen:hover {
    background-color: #3f77a5;
}

.schedule #openSchedule {
    width: 60px;
    height: 170px;
    position: fixed;
    left: 20px;
    bottom: 435px;
    cursor: pointer;
}

.schedule #title {
    transform: rotate(-90deg);
    position: fixed;
    font-weight: bold;
    font-size: 24px;
    left: -5px;
    bottom: 520px;
}

.schedule #menuButton {
    position: fixed;
    font-size: 30px;
    left: 35px;
    bottom: 445px;
}

.schedule .scheduleDropdowns {
    position: relative;
    left: 60px;
    top: 10px;
    max-height: 230px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 330px;
    display: none;
    transition: 0.3s;
    scrollbar-width: thin;
    scrollbar-color: #284b68 #3f77a5;
    
}
.schedule .scheduleDropdowns .accordion:hover {
    background-color: #284b68;
    transition: 0.3s;
  }

/*.schedule .scheduleDropdowns::-webkit-scrollbar {
    display: none;
}*/

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3f77a5; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #284b68; 
    border-radius: 5px;
  }

.schedule .accordion {
    background-color: #3f77a5;
    color: #ececec;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.active .accordion:hover {
    background-color: #2d5677;
}

.schedule .panel {
    padding: 0 10px;
    background-color: #35658b;
    display: none;
    overflow: hidden;
    border-radius: 5px;
    font-size: 14px;
    user-select: none;
}
.schedule .panel p{
    margin: 5px;
    padding: 5px;
    line-height: 1.5;
}
.schedule .panel a{
    color: #ececec;
    transition: 0.3s;
}
.schedule .panel a:hover{
    color: #96d4f5;
    transition: 0.3s;
}


    /* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(240, 240, 240); /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.3 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    box-shadow: 0 0 5px #2c2c2c;
}

.overlay .HeaderOverlay {
    height: 10vh;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: auto; /* Sit on top */
    right: 0;
    top: 0;
    background-color: #3f77a5; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; /* 0.3 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the close button (top right corner) */
.overlay .HeaderOverlay .closebtn {
    position: absolute;
    top: 0px;
    right: 1.6vw;
    font-size: 5.8vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #e2e2e2;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    transition: 0.2s;
}
.overlay .HeaderOverlay .closebtn:hover{
    color: #ffffff;
}

.overlay .HeaderOverlay .header {
    position: relative;
    padding: 3vh;
    padding-right: 0;
    padding-left: 1.6vw;
    margin: 0;
    font-size: 1.65vw;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #e2e2e2;

    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.overlay .BodyOverlay {
    height: 90vh;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    right: 0;
    top: 10vh;
    background-color: #e2e2e2;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s; 
}

.overlay .BodyOverlay .BodyContent {
    font-family: "Raleway", sans-serif;
    text-align: center;
    padding: 2vw;
    padding-top: 2vh;
    font-size: 1vw;
}

.overlay .BodyOverlay .BodyContent a {
    padding: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    color: #5d8aa1;
    transition: 0.2s;
}
.overlay .BodyOverlay .BodyContent a:hover {
    color: #3f5f6e;
}

.material-icons {
    font-family: 'Material Icons Round';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
}