<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Monday 4.19, 12:00-1:00 <span style="float:right;">Mabou, Cape Breton</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Andrea grew and lives again in Mabou, Cape Breton. Her parents are Kinnon and Betty Beaton, well known throughout Cape Breton and the world for their music and dance. Andrea is a composer, fiddler and step-dancer, and was artist leader for the Touring Group in 2016/2017 that traveled to Cape Breton and 2017/2018 that traveled to Scotland. 
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Traditional music from Mabou has the same Scottish influences as most of Cape Breton, but it also has been affected by French traditions, musical and otherwise.  French is still commonly spoken there and foot tapping similar to that of the Quebecois is seen often.  The music is (if possible) even bouncier than elsewhere on Cape Breton and incredibly joyful.
</p>


<p style="font-weight: 300;">
<a href="https://www.andreabeaton.com">Website</a><a href = "https://celtic-colours.com/artists/andrea-beaton/">Video</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/BYQMncWCbj0" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>