<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Monday 4.19, 10:00-11:00 <span style="float:right;">Waterville, Quebec</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Pascal is a singer, fiddler, arranger, teacher and composer who's appearances and recordings with Genticorum are known throughout Canada, the US and Europe.  He has led several Fiddleheads residencies in Burlington, and has taught at Trad Camp and Touring Group rehearsals.  Pascal was planning to host us in person if our Quebec tour had happened.
</p>


<p style="font-weight: 300;">
<a href="https://www.falquetgemme.com/english">Website</a><a href = "https://www.facebook.com/genticorum">Facebook</a><a href = "https://www.facebook.com/watch/genticorum">Watch</a><a href="https://us02web.zoom.us/j/83542332542?pwd=QXVic1UxR0Izb2oxdDVrYWF2SXB1dz09">Zoom</a>
</p>