<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Monday 4.19, 8:00-9:00 <span style="float:right;">Tottori, Japan</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Kurayoshi Higashi hosted a group of 5 Touring Group members in November 2017, and were prepared to host the full group in April 2020 before the pandemic forced that cancellation.  Touring Group's link was faciliated by Peter Lynch from Green Across the World based in Addison, Vermont.  The students have an orchestra at the school, and have prepared a list of questions for the Touring Group to answer.</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Unlike in the West, traditional music in Japan is still alive and well.  Chinese traditional music as well as their musical traditions have impacted Japanese music.  Music is used in spiritual ways as well as for performance and is evolving with popular music, especially Japanese folk songs.  One of the most famous traditional Japanese instruments is the Koto, a type of harp which features a movable bridge under each string and is played with finger picks, but many people play on guitar or piano as well.</p>


<p style="font-weight: 300;">
<a href="https://cmsweb2.torikyo.ed.jp/kurae-h/%E9%83%A8%E6%B4%BB%E5%8B%95/?action=pages_view_main&page_id=225">Website</a><a href = "https://www.facebook.com/pg/kurayoshi.higashi/community/">Facebook</a><a href= https://drive.google.com/file/d/1JDNmnO10-TrXPPr1If2a0WsSWIH4SlBy/view?usp=sharing>Video</a><a href="https://us02web.zoom.us/j/5478906527?pwd=RVd6bmQ3Nis2R0x4TkJ4V3MyMExJUT09">Zoom</a>
</p>