<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Sunday 4.18, 12:00-1:00 <span style="float:right;">London, England</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">This group arranges traditional folk repertoire from Britain and beyond, works on performances and presentations, learns about the history and culture of traditional music and performs at events in London and other locations in England.  The London group includes members in the national group which includes members from throughout the country and sponsored by the English Folk Dance and Song Society.</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Traditionally, England has a longer history rooted in folk songs than in tunes.  Instrumental English music has been more based on the rural tunes with more of a classical influence than other traditions from the British Isles. They do play hornpipes and jigs and have a unique style of traditional social dancing. But there are also many songs that make up the more prevalent tradition today.</p>


<p style="font-weight: 300;">
<a href="https://www.efdss.org/learning/young-people/london-youth-folk-ensemble">Website</a><a href = "https://www.facebook.com/watch/EFDSS/">Facebook</a><a href="https://us02web.zoom.us/j/85696958866">Zoom</a><a href="https://drive.google.com/file/d/1OxK_yMcZIzbxBzmCar6ivix1ZNqhXODe/view?usp=sharing">Sheet Music</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/bwmpb6letvk" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>