<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Monday 4.19, 2:00-3:00 <span style="float:right;">Mabou, Cape Breton</span></p>

<p style="margin: 0.5vh; font-size: 1.2vw; font-weight: 400;">About Kenneth MacKenzie</p>
<p style="margin-top: 0.5vh; margin-bottom: 0.8vh; font-weight: 300;">Kenneth is a piper and fiddler from Mabou, Cape Breton. He grew up speaking Gaelic, a culture that has been an central part of his life and musical development since early childhood. He studied the pipes with Scott MacAulay in Scotland, and at the Gaelic College in St. Ann.
</p>

<p style="font-weight: 300;">
<a href="https://gaeliccollege.edu/faculty/kenneth-mackenzie/">Website</a><a href="https://us02web.zoom.us/j/3206653082?pwd=cFNmNlM0ajBrazBaeDh3aXhjRldCdz09">Zoom</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/9dkoXPjpIWo" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>

<p>
</p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About Margie Beaton</p>
<p style="margin-top: 0.5vh; margin-bottom: 0.8vh; font-weight: 300;">Also from Mabou, Margie performs trad Gaelic music and dance.  She helps organize and performs at the Celtic Colours festival  with her sister Dawn, artistic director.
</p>

<p style="font-weight: 300;">
<a href="https://orkneyfolkfestival.com/line-up/beaton-sisters-band/">Website</a></span>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xCSk5waVkxI" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>