<p style="font-size: 1vw; text-align: left; margin: 0; font-weight: 200;">Thursday 4.22, 2:00-4:00 <span style="float:right;">Northumberland, England</span></p>

<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">About</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Young Tradition Vermont hosted visits by the Ranters in 2012 and 2013 in Burlington.  Before they left for home in late April 2013, they challenged YTV to bring a group to England, which led to the first official Touring Group tour - England in April 2014.  It was a one-time project (we thought), but that single trip inspired subsequent tours in Ireland, Cape Breton, Scotland and metro New York/New Jersey, followed by the 'COVID years' in 2020 and 2011.  Richard is the Queen's ceremonial piper in Northumberland at the castle where much of the Harry Potter movies were filmed, which featured many alumni Ranters as extras.
</p>
</br>
<p style="margin: 0.3vh; font-size: 1.2vw; font-weight: 400;">Musical Style</p>
<p style="margin-top: 0.5vh; font-weight: 300;">Northumberland borders Scotland and this has created a distinct musical style in both countries near the border.  Northumbrian tunes can be noticeably different than in the rest of England, for example 3/2 hornpipes are unique to this region.  On the Scottish side of the border, you find the border tradition, giving us the border pipes and a tradition closer to the English one.
</p>


<p style="font-weight: 300;">
<a href="http://music.northumberland.gov.uk/">Website</a><a href = "https://drive.google.com/drive/folders/1B3hZWMupA0eRnaFmW7iAElAS1bGwqRuw?usp=sharing">Sheet Music</a>
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/nT3elrlc_M8" title="YouTube video player" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>